<%- include("partials/header", {title: title}); %>


<p>Denna sida är skapad av Samuel Ström för kursen <i>Databasteknologier för webben</i> på Blekinge Tekniska högskola.</p>

<p>Detta är del 3 av eshopen och är del i de optionella kraven som finns i kursen.</p>

<b>Författare:</b> <i>Samuel Ström</i>


<%- include("partials/footer"); %>
