<%- include("partials/header", {title: title}); %>

<h1>Skapa en produkt</h1>



<form method="post">
    <fieldset>
        <legend>Skapa Produkt</legend>

        <label for="produktkod">Produktkod</label>
        <input id="produktkod" type="text" name="produktkod" required>

        <label for="name">Namn</label>
        <input id="namn" type="text" name="namn" required>

        <label for="beskrivning">Beskrivning</label>
        <input id="beskrivning" type="text" name="beskrivning" required>
        
        <label for="pris">Pris</label>
        <input id="pris" type="number" name="pris" required>

        <label for="kategori">Kategori</label>
        <input id="kategori" type="text" name="kategori" required>
        
        <input type="submit" name="doit" value="Create">
    </fieldset>
</form>





<%- include("partials/footer"); %>
