<%- include("partials/header", {title: title}); %>

<h1>Välkommen till Buckstar Online Shopping!</h1>
<p>Vi säljer kaffemuggar, kaffeprylar och även lite te-prylar. Jag hoppas du hittar något som passar dig!</p>


<ul>
	<li><a href="category">Kolla in våra produktkategorier</a></li>
    <li><a href="product">Våra produkter</a></li>
</ul>

<%- include("partials/footer"); %>
